<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>728155207662-7k3r5s9jk9ctfudc1c90ir7d8uqfanrb.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.728155207662-7k3r5s9jk9ctfudc1c90ir7d8uqfanrb</string>
	<key>API_KEY</key>
	<string>AIzaSyDBMtHcoM-QmGE1f-ONsUhN3uTtO2_iNcE</string>
	<key>GCM_SENDER_ID</key>
	<string>728155207662</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.attendanceLogWithFirebase</string>
	<key>PROJECT_ID</key>
	<string>attendance-log-dc4a2</string>
	<key>STORAGE_BUCKET</key>
	<string>attendance-log-dc4a2.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:728155207662:ios:aeed81acb7b4172fd500ff</string>
</dict>
</plist>